body {
  background: hsl(207, 26%, 17%) !important;
  color: #fff !important;
}
.cards a {
  margin: 1.5em 0 !important;
  padding: 0 !important;
}
header#header {
  margin: 0 0 1em 0;
}
.header::before,
.item::before {
  width: 0 !important;
}

div,
span,
.letterNav a,
.header {
  color: #fff;
}

div.header,
span.header,
div.input,
input,
input::placeholder {
  background: inherit !important;
  color: #fff !important;
}
div.element,
button.button.element,
button.button.element:hover,
header,
#filter,
#filter .menu {
  background: hsl(209, 23%, 22%) !important;
  color: #fff !important;
}
div.ui.cards {
  padding: 2em 0em !important;
}

div.card.element {
  margin: 1em !important;
  height: 30em !important;
}
div.card.element .image {
  height: 45% !important;
}
div.card.element img {
  height: 100% !important;
}
div.country-name-container.content {
  height: 3em !important;
}
div.content {
  margin-bottom: 2em;
}
div.button i {
  color: #fff !important;
}
li {
  list-style-type: none;
  margin-bottom: 1em;
}
section#back-btn {
  margin-bottom: 5em;
}
#filter .menu .item {
  background: inherit !important;
  color: inherit !important;
}
#filter .menu .item:hover,
.button:hover {
  opacity: 0.8;
  background: hsl(207, 26%, 26%) !important;
}

div.letterNav {
  margin-top: 10px;
  max-height: 80vh;
}
div.letterNav div {
  margin: 5px auto;
}
div.ui.container.main {
  padding: 0 !important;
  width: 80%;
}
div.no-results {
  text-align: center;
  margin-top: 5em;
}
@media only screen and (max-width: 767px) {
  div.ui.link.cards {
    padding: 28px 5% !important;
    margin: 1em 5% !important;
  }
  div.letterNav {
    margin-top: 0px;
    max-height: 80vh;
  }
  div.letterNav div {
    margin: 3px auto;
  }
}
@media only screen and (max-width: 450px) {
  div.ui.link.cards {
    padding: 28px 1% !important;
  }
  div.letterNav {
    display: none;
  }
}
