html,
body {
  background: hsl(0, 0%, 98%) !important;
  color: hsl(200, 15%, 8%) !important;
}
div,
span,
h1,
.letterNav a,
.header {
  color: hsl(200, 15%, 8%);
}
div.header,
span.header,
div.input,
input,
input::placeholder {
  background: inherit !important;
  color: hsl(200, 15%, 8%) !important;
}
.card,
.ui.button,
.ui.button:hover,
header,
#filter,
#filter .menu,
.icon {
  background: hsl(0, 0%, 98%) !important;
  color: hsl(200, 15%, 8%) !important;
}
div.button i {
  color: hsl(200, 15%, 8%) !important;
}
#filter .menu .item:hover,
.button:hover {
  opacity: 0.8;
  background: hsl(207, 26%, 26%) !important;
}
