.cards a {
  display: block;
  height: 25em;
  min-height: 100% !important;
  padding: 0 !important;
}
#header {
  margin-bottom: 5em;
  max-width: 100%;
}
.header::before,
.item::before {
  width: 0 !important;
}

div.ui.container.main {
  margin-top: 5em;
}

div.ui.cards {
  padding: 2em 0em !important;
}

.card {
  margin: 1em;
  height: 25em;
  width: 17.5em !important;
}
.content {
  margin: 0 !important;
  padding: 1em !important;
}
.country.element .image {
  height: 45% !important;
  margin-bottom: 5%;
  padding: 0 !important;
}
.country.element .image img {
  height: 100% !important;
  width: 100% !important;
  object-fit: cover;
}

li {
  list-style-type: none;
  margin-bottom: 1em;
}
.back-btn {
  margin-bottom: 5em !important;
  margin-left: 1rem !important;
}
#filter .menu .item {
  background: inherit !important;
  color: inherit !important;
}

div.letterNav {
  position: fixed;
  margin-top: 4em;
  max-height: 80vh;
  text-align: center;
  right: 10%;
}
.scrolled {
  margin-top: 0em !important;
}

div.letterNav div {
  margin: 0.2em auto;
}
div.ui.container.main {
  padding: 0 !important;
  width: 80%;
}
div.no-results {
  text-align: center;
  margin-top: 20vh !important;
}
a.border,
a.back-btn {
  display: inline-block !important;
  border: 1px solid !important;
}
a.border {
  margin: 0.2em !important;
}
@media only screen and (max-width: 767px) {
  div.ui.link.cards {
    padding: 28px 5% !important;
    margin: 1em 5% !important;
  }
  div.letterNav {
    margin-top: 0px;
    max-height: 80vh;
  }
  div.letterNav div {
    margin: 3px auto;
  }
}
@media only screen and (max-width: 520px) {
  .wide .input.element {
    width: 100%;
  }
  .ui.grid {
    max-width: 100vw;
  }

  .floated.menu,
  #filter {
    float: left !important;
  }

  div.ui.link.cards {
    padding: 28px 1% !important;
    margin: auto;
  }
  .card {
    margin: 1em;
    padding: 0 !important;
    min-height: 25em !important;
  }

  div.letterNav {
    margin-top: 0em;
  }
  div.letterNav div {
    margin: 1.5px auto;
  }
  .scrolled {
    margin-bottom: -10em !important;
  }
}
